<h1>Dog Information</h1>

    <p>Name: <%= @dog.dog_name %></p>
    <p>Age: <%= @dog.age%></p>
    <p>Breed: <%= @dog.breed%></p>
    <p>Adoption Status: <%= @dog.adoption_status%></p>

  <p> <a href="/dogs"><button>Go Back</button></a></p>

  <p> <a href="/dogs/create_dog"><button>Add</button></a></p>
  
  <p> <a href="/dogs/<%= @dog.id%>/edit"><button>Edit</button></a></p>

  <form action="/dogs/<%= @dog.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete">
  </form>
  
  <p> <a href="/logout"><button>Logout</button></a></p>



    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    